/* :D */
:root {
	--light-a1: #e46a8a;
	--light-a2: #D95F69;
	--light-a3: #555;
	--light-bg: #f5f5f5;
	--light-switch-icon: "🌑";
	--light-text: "Dark Mode";

	--dark-a1: #e46a8a;
	--dark-a2: #D95F69;
	--dark-a3: #f5f5f5;
	--dark-bg: #0a0a0a;
	--dark-switch-icon: "☀️";
	--dark-text: "Light Mode";

	--accent-1: var(--light-a1);
	--accent-2: var(--light-a2);
	--accent-3: var(--light-a3);
	--background: var(--light-bg);
	--switch-icon: var(--light-switch-icon);
	--switch-content: var(--light-text);
}

.theme-switch {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

.switch-label {
	display: none !important;
	position: fixed;
	padding: .5%;
	bottom: 2px;
	cursor: pointer;
	display: flex;
}

.switch-label::before {
	content: var(--switch-icon);
	transition: text-shadow .2s;
}

.switch-label::after {
	color: var(--switch-shadow-color);
	content: var(--switch-content);
	opacity: 0;
	transition: opacity .2s;
}

.theme-switch:focus~#page .switch-label::before,
.switch-label:hover::before {
	text-shadow: 0 0 15px var(--switch-shadow-color);
}

.theme-switch:focus ~ #page .switch-label::after,
.switch-label:hover::after {
  opacity: 1;
}

.theme-switch:checked~#page {
	--accent-1: var(--dark-a1);
	--accent-2: var(--dark-a2);
	--accent-3: var(--dark-a3);
	--background: var(--dark-bg);
	--switch-icon: var(--dark-switch-icon);
	--switch-content: var(--dark-text);
}

#page {
	background: var(--background);
	color: var(--accent-3);
	height: 100%;
	display: block;
	overflow: auto;
	transition: color .2s, background-color .2s;
}

#page div {
	height: fit-content;
	padding-top: 40px;
	margin: 0px auto;
	max-width: 75%;
	line-height: 1.6;
	font-size: 18px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--accent-1: var(--dark-a1);
		--accent-2: var(--dark-a2);
		--accent-3: var(--dark-a3);
		--background: var(--dark-bg);
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--accent-1: var(--light-a1);
		--accent-2: var(--light-a2);
		--accent-3: var(--light-a3);
		--background: var(--light-bg);
	}
}

::selection {
	color: var(--background);
	background: var(--accent-1);
}

body {
	/* margin: 40px auto;
	max-width: 75%;
	line-height: 1.6;
	font-size: 18px; */
	padding: 0;
	margin: 0;
	height: 100vh;
}

#masthead-title {
	margin: 0;
	margin-bottom: 5px;
	display: flex;
	align-items: center;
}

#masthead-title img {
	height: 1em;
	padding-left: 0.125em;
}

h1,
h2,
h3 {
	margin: 40px;
	line-height: 1.2;
	height: 100%;
}

h2 {
	margin-bottom: 5px;
}

hr {
	border: 2px solid;
	border-color: var(--accent-1);
	overflow: hidden;
}

#header {
	margin: 0;
	height: fit-content;
}

#header>ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

ul {
	height: fit-content;
	overflow: hidden;
	white-space: nowrap;
	/* padding: 0; */
}

figcaption {
	line-height: 1;
}

li {
	float: left;
}

#header li a {
	width: fit-content;
	margin: 0;
	display: inline-block;
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 0;
	padding-bottom: 0;
	/* color: var(--accent-1); */
}

a {
	color: var(--accent-1);
}

img {
	max-width: 75%;
	border: 0px;
	margin: 10px 0px 10px 0px;
}

figure {
	margin-left: 0%;
}

figure>img {
	margin-bottom: 0px;
}

img.math.display {
	max-width: 75%;
}

table {
	display: block;
	margin: 0 auto;
	overflow-x: auto;
	border: none;
	border-collapse: collapse;
}

th,
td {
	border-collapse: collapse;
	border: 1px solid;
	padding-left: 5px;
	padding-right: 5px;
}

pre {
	overflow-y: auto;
}
